/*opensans regular*/
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff2);
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }

  /*opensans bold*/
  
  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff2);
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-style: normal;
    font-weight: bold;
  }

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans, serif;
}

a {
  text-decoration: none;
}

/*mobile*/
@media (max-width: 769px) {
.header {
  min-height: 639px;
  background-image: url(../img/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 58px;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 1;
}

.container {
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 285px;
}

.header__logo {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
  padding-left: 23px;
}

.nav__list {
    display: none;
  }

  .burger {
    width: 23px;
    height: 12px;
    position: relative;
    margin-top: 45px;
    cursor: pointer;
    border: none;
  }

  .burger__layer {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
  }

  .burger__layer:nth-child(1) {
    top: 0 px;
  }
  .burger__layer:nth-child(2) {
      top: 6px;
  }
  .burger__layer:nth-child(3) {
      top: 12px;
  }

  /*intro*/
  .intro {
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  
  .intro__title {
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 45px;
  }

  /*trends*/
  .trends__container {
    display: flex;
    flex-direction: column;
    max-width: 769px;
  }

  .trends__inner {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-left: auto;
    margin-right: auto;
  }

  .trends__inner::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: #b59f5b;
    margin-top: 12px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
  }

  .trends__cards {
    list-style-type: none;
  }

  .trends__card {
    height: 248px;
    width: 49.8%;
    background-color: #606260;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .trends__card:nth-child(n+2) {
    margin-top: 0.5vw;
  }

  .trends__card::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
  }

  .trend__first {
    background-image: url(../img/trend1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__second {
    background-image: url(../img/trend2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__third {
    background-image: url(../img/trend3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__fourth {
    background-image: url(../img/trend4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__cont {
    width: 100%;
    min-height: 138px;
    border: 3px  solid rgba(175, 155, 90, 0.6);
    z-index: 20;
    box-sizing: border-box;
    padding-top: 38px;
    padding-left: 23px;
    padding-right: 40px;
    padding-bottom: 32px;
  }

  .trend__tags {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .tags__links {
    text-decoration: none;
    color: #b59f5b;
    margin-right: 20px;
  }

  .tags__links:hover {
    border-bottom: 2px solid rgba(175, 155, 90, 0.6);
  }

  .trend__disc {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  .trend__disc:hover {
    color: #b59f5b;
  }

  /*main aside*/
  .main__aside {


    margin: 50px auto 55px auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /*section discription*/
  .section__picture__link {
    width: 381px;
    flex-shrink: 0;
  }

  .section__picture {
    width: 100%;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 19px;
  }

  .section:last-child {
    border-bottom: none;
  }
  
  .section:nth-child(1n+2) {
    margin-top: 41px;
  }
  
  .section__tags {
    display: flex;
    list-style-type: none;
    margin-top: 16px;
  }
  
  .section__link {
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
  }
  
  .section__link:hover {
    border-bottom: 1px solid #b59f5b;
  }

  .section__title__link {
    text-decoration: none;
    color: #000;
  }
  
  .section__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 35px;
    margin-top: 5px;
    line-height: 24px;
  }
  
  .date__author {
    display: flex;
    font-size: 12px;
    margin-bottom: 35px;
  }
  
  .date {
    color: #888888;
  }
  
  .author {
    font-weight: bold;
    margin-left: 12px;
  }
  
  .discription {
    font-size: 15px;
    line-height: 22px;
  }
  
  /*pixel perfect*/
  .date__author__pixel {
    display: flex;
    font-size: 12px;
    margin-bottom: 42px;
  }
  
  .discription__pixel {
    font-size: 15px;
    line-height: 22px;
    word-spacing: 0.5px;
  }
  
  .discription__sec {
    font-size: 15px;
    margin-top: 10px;
  }
  
  .discription__pixel__sec {
    font-size: 15px;
    line-height: 21px;
    word-spacing: 3.9px;
  }
  
  .section__title__pix {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 7px;
    line-height: 25px;
    word-spacing: 0.3px;
  }
  
  /*aside*/
  .aside {
    width: 100%;
    margin-top: 25px;
  }
  
  /*aside section*/
  .section__inner {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .section__inner:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: 20px;
    background-color: #e1d9bd;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*article*/
  .article {
    display: flex;
    margin-bottom: 17px;
  }
  
  .article__img {
    width: 70px;
  }
  
  .article__discription {
    margin-left: 19px;
    margin-top: -7px;
  }
  
  .article__date {
    font-size: 12px;
    color: #888888;
  }
  
  .article__titles {
    line-height: 17px;
    word-spacing: 0.5px;
  }
  
  .article__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-decoration: none;
  }
  
  .article__title:hover {
    color: #b59f5b;
  }
  
  /* form search*/
  .form-row {
    position: relative;
    box-sizing: border-box;
    margin-top: 55px;
    margin-bottom: 56px;
    width: 100%;
  }
  
  .field {
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    background-color: #f4f7f6;
    font-size: 13px;
    border: none;
    padding-left: 19px;
    outline: none;
  }
  
  .field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  
  .button__search {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    border: none;
    cursor: pointer;
    background: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .button__search:hover {
    background: #323232;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
  }
  
  .button__search:focus {
    outline: 1px solid #323232;
  }
  
  /*mailing*/
  .form-email {
    box-sizing: border-box;
    margin-bottom: 55px;
  }
  
  .mail__tags__themes__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .mail__tags__themes__title:after {
    content: "";
    display: block;
    width: 66px;
    background-color:#e1d9bd;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    }
  
  .button__subs {
    width: 100%;
    height: 49px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    background: #b59f5b;
    }
  
  .button__subs::before {
    content: "Подписаться";
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
  }
  
  .button__subs:hover {
    background: #323232;
  }
  
  .button__subs:focus {
    outline: 1px solid #323232;
  }
  
  /*tags*/
  .tags {
    margin-bottom: 50px;
  }
  
  .tags__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .tags__link {
    display: block;
    text-decoration: none;
    border: 2px solid lightgrey;
    padding: 4px 14px;
    margin-right: 7px;
    margin-bottom: 7px;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  
  .tags__link:hover {
    border: 2px solid #b59f5b;
    color: #000;
  }
  
  /*themes*/
  .themes__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: -4px;
  }
  
  .themes__link {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .themes__link:hover {
    color: #b59f5b;
  }
  
  .themes__sup {
    color: #b59f5b;
    padding-left: 3px;
  }

  /*products*/
  .products {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .products__title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .products__title::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: rgb(225, 217, 189);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    margin-top: 10px;
  }
  
  .product__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .product__cont:nth-child(n+2) {
    margin-top: 28px;
  }
  
  .pic__product {
    margin-bottom: -31px;
  }
  
  .product__desc {
    box-sizing: border-box;
    border: 2px solid rgba(181, 159, 91, 0.6);
    padding-bottom: 28px;
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 1;
  }
  
  .product__title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .product__spec {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .spec__link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .spec__link:hover {
    text-decoration: underline;
  }
  
  .prices {
    font-weight: bold;
  }
  
  .old__price {
    font-size: 14px;
    text-decoration: line-through;
  }
  
  .new__price {
    font-size: 20px;
  }
  
  .price__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button__buy {
    width: 140px;
    height: 49px;
    background-color: #b59f5b;
    border: none;
  }
  
  .button__buy::before {
    content: "в магазин";
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .button__buy:hover {
    background-color: #323232;
  }

  /*footer*/
  .footer {
    margin: 59px auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .footer__social {
    background: #f4f7f6;
    height: 79px;
    margin-bottom: 75px;
  }
  
  .social__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .social__img {
    width: 18px;
    height: 18px;
  }
  
  .social__img:nth-child(2) {
    margin: 0 30px;
  }
  
  .footer__img__one {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__img__two {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__img__three {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__copyright_cont {
    width: 100%;
  }
  
  .footer__copyright {
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

@media (max-width: 769px) and (orientation: landscape) {
  /*trends*/
  .trends__cards {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .trends__card {
    height: 248px;
    width: 49.8%;
    background-color: #606260;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
  }

  .trends__card:nth-child(3),
  .trends__card:nth-child(4) {
    margin-top: 0.4vw;
  }
}

/*tablet*/
@media (min-width: 770px) and (max-width: 1201px) {
  .header {
    width: 100%;
    min-height: 392px;
    background-image: url(../img/banner-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 58px;
  }

  .header::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
  }

  .container {
    max-width: 1201px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .header__logo {
    width: 158px;
    margin-top: 40px;
  }

  .nav__list {
    display: none;
  }

  .burger {
    width: 23px;
    height: 12px;
    position: relative;
    margin-top: 45px;
    cursor: pointer;
    border: none;
  }

  .burger__layer {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
  }

  .burger__layer:nth-child(1) {
    top: 0 px;
  }
  .burger__layer:nth-child(2) {
      top: 6px;
  }
  .burger__layer:nth-child(3) {
      top: 12px;
  }

  /*intro*/
  .intro {
    max-width: 605px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  
  .intro__title {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 99px;
  }

  /*trends*/
  .trends__container {
    display: flex;
    flex-direction: column;
  }

  .trends__inner {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    margin-left: auto;
    margin-right: auto;
  }

  .trends__inner::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: #b59f5b;
    margin-top: 12px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
  }

  .trends__cards {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .trends__card {
    height: 248px;
    width: 49.8%;
    background-color: #606260;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
  }

  .trends__card::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
  }

  .trend__first {
    background-image: url(../img/trend1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__second {
    background-image: url(../img/trend2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__third {
    background-image: url(../img/trend3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__fourth {
    background-image: url(../img/trend4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .trend__cont {
    width: 363px;
    min-height: 138px;
    border: 3px  solid rgba(175, 155, 90, 0.6);
    z-index: 20;
    box-sizing: border-box;
    padding-top: 38px;
    padding-left: 33px;
    padding-right: calc(5vw + 1.9px);
    padding-bottom: 32px;
  }

  .trend__tags {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .tags__links {
    text-decoration: none;
    color: #b59f5b;
    margin-right: 20px;
  }

  .tags__links:hover {
    border-bottom: 2px solid rgba(175, 155, 90, 0.6);
  }

  .trend__disc {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  .trend__disc:hover {
    color: #b59f5b;
  }

  /*main aside*/
  .main__aside {
    display: flex;
    width: 695px;
    margin: 50px auto 55px auto;
    padding-right: 35px;
    padding-left: 35px;
  }
  
  .main {
    width: 393px;
  }
  
  /*section discription*/
  .section__picture__link {
    width: 393px;
    flex-shrink: 0;
  }

  .section__picture {
    width: 393px;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 19px;
  }

  .section:last-child {
    border-bottom: none;
  }
  
  .section:nth-child(1n+2) {
    margin-top: 41px;
  }
  
  .section__tags {
    display: flex;
    list-style-type: none;
    margin-top: 16px;
  }
  
  .section__link {
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
  }

  .section__link:hover {
    border-bottom: 1px solid #b59f5b;
  }
  
  .section__title__link {
    text-decoration: none;
    color: #000;
  }
  
  .section__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 35px;
    margin-top: 5px;
    line-height: 24px;
  }
  
  .date__author {
    display: flex;
    font-size: 12px;
    margin-bottom: 35px;
  }
  
  .date {
    color: #888888;
  }
  
  .author {
    font-weight: bold;
    margin-left: 12px;
  }
  
  .discription {
    font-size: 15px;
    line-height: 22px;
  }
  
  /*pixel perfect*/
  .date__author__pixel {
    display: flex;
    font-size: 12px;
    margin-bottom: 42px;
  }
  
  .discription__pixel {
    font-size: 15px;
    line-height: 22px;
    word-spacing: 0.5px;
  }
  
  .discription__sec {
    font-size: 15px;
    margin-top: 10px;
  }
  
  .discription__pixel__sec {
    font-size: 15px;
    line-height: 21px;
    word-spacing: 3.9px;
  }
  
  .section__title__pix {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 7px;
    line-height: 25px;
    word-spacing: 0.3px;
  }
  
  /*aside*/
  .aside {
    width: 272px;
    margin-left: 32px;
  }
  
  /*aside section*/
  .section__inner {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: -4px;
    margin-left: 85px;
  }
  
  .section__inner:after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: 20px;
    background-color: #e1d9bd;
  }
  
  /*article*/
  .article {
    display: flex;
    margin-bottom: 17px;
  }
  
  .article__img {
    width: 70px;
  }
  
  .article__discription {
    margin-left: 19px;
    margin-top: -7px;
  }
  
  .article__date {
    font-size: 12px;
    color: #888888;
  }
  
  .article__titles {
    line-height: 17px;
    word-spacing: 0.5px;
  }
  
  .article__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-decoration: none;
  }
  
  .article__title:hover {
    color: #b59f5b;
  }
  
  /* form search*/
  .form-row {
    position: relative;
    box-sizing: border-box;
    margin-top: 55px;
    margin-bottom: 56px;
    width: 100%;
  }
  
  .field {
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    background-color: #f4f7f6;
    font-size: 13px;
    border: none;
    padding-left: 19px;
    outline: none;
  }
  
  .field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  
  .button__search {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    border: none;
    cursor: pointer;
    background: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .button__search:hover {
    background: #323232;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
  }
  
  .button__search:focus {
    outline: 1px solid #323232;
  }
  
  /*mailing*/
  .form-email {
    box-sizing: border-box;
    margin-bottom: 55px;
  }
  
  .mail__tags__themes__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .mail__tags__themes__title:after {
    content: "";
    display: block;
    width: 66px;
    background-color:#e1d9bd;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    }
  
  .button__subs {
    width: 100%;
    height: 49px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    background: #b59f5b;
    }
  
  .button__subs::before {
    content: "Подписаться";
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
  }
  
  .button__subs:hover {
    background: #323232;
  }
  
  .button__subs:focus {
    outline: 1px solid #323232;
  }
  
  /*tags*/
  .tags {
    margin-bottom: 50px;
  }
  
  .tags__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .tags__link {
    display: block;
    text-decoration: none;
    border: 2px solid lightgrey;
    padding: 4px 14px;
    margin-right: 7px;
    margin-bottom: 7px;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  
  .tags__link:hover {
    border: 2px solid #b59f5b;
    color: #000;
  }
  
  /*themes*/
  .themes__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: -4px;
  }
  
  .themes__link {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .themes__link:hover {
    color: #b59f5b;
  }
  
  .themes__sup {
    color: #b59f5b;
    padding-left: 3px;
  }

  /*products*/
  .products {
    width: 695px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .products__title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  
  .products__title::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: rgb(225, 217, 189);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    margin-top: 10px;
  }
  
  .products__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product__cont {
    width: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .product__cont:nth-child(n+3) {
    margin-top: 28px;
  }
  
  .pic__product {
    margin-bottom: -31px;
  }
  
  .product__desc {
    box-sizing: border-box;
    border: 2px solid rgba(181, 159, 91, 0.6);
    padding-bottom: 28px;
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 1;
  }
  
  .product__title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .product__spec {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .spec__link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .spec__link:hover {
    text-decoration: underline;
  }
  
  .prices {
    font-weight: bold;
  }
  
  .old__price {
    font-size: 14px;
    text-decoration: line-through;
  }
  
  .new__price {
    font-size: 20px;
  }
  
  .price__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button__buy {
    width: 140px;
    height: 49px;
    background-color: #b59f5b;
    border: none;
  }
  
  .button__buy::before {
    content: "в магазин";
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .button__buy:hover {
    background-color: #323232;
  }

  /*footer*/
  .footer {
    width: 695px;
    margin: 51px auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .footer__social {
    background: #f4f7f6;
    height: 79px;
    margin-bottom: 50px;
  }
  
  .social__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .social__img {
    width: 18px;
    height: 18px;
  }
  
  .social__img:nth-child(2) {
    margin: 0 30px;
  }
  
  .footer__img__one {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__img__two {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__img__three {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__copyright_cont {
    width: 695px;
  }
  
  .footer__copyright {
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
  
@media (min-width: 769px) and (max-width: 1201px) and (orientation:landscape) {
  .trends__cards {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .trends__card {
    width: 24.8%;
  }

  .trend__cont {
    width: 95%;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media (min-width: 769px) and (max-width: 1201px) and (orientation:portrait) {
  .trends__card:nth-child(3),
  .trends__card:nth-child(4) {
    margin-top: 0.4vw;
  }
}

/*desctop*/
@media (min-width: 1201px) {
  .header {
    width: 100%;
    min-height: 449px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 58px;
  }
  
  .header::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
  }

  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .header__logo {
    width: 179px;
    margin-top: 27px;
  }

  /*nav*/
  .burger {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 463px;
    list-style-type: none;
    margin-top: 37px;
  }
  
  .nav__link {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .nav__link:hover {
    text-decoration: underline;
  }
    /*intro*/
    .intro {
      max-width: 700px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
    
    .intro__title {
      font-weight: bold;
      font-size: 45px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      margin-top: 99px;
      margin-left: -30px;
      line-height: 75px;
    }
  
    /*trends*/
    .trends {
      width: 100%;
    }
  
    .trends__container {
      display: flex;
      flex-direction: column;
    }
  
    .trends__inner {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #000;
      margin-left: auto;
      margin-right: auto;
    }
  
    .trends__inner::after {
      content: "";
      display: block;
      width: 67px;
      height: 3px;
      background-color: #b59f5b;
      margin-top: 12px;
      margin-bottom: 28px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .trends__cards {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
    }
  
    .trends__card {
      height: 320px;
      width: 25vw;
      background-color: #606260;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      box-sizing: border-box;
      padding-bottom: 20px;
    }
  
    .trends__card:nth-child(1),
    .trends__card:nth-child(2),
    .trends__card:nth-child(3) {
      margin-right: 5px;
    }
  
    .trends__card::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      z-index: 1;
    }
  
    .trend__first {
      background-image: url(../img/trend1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .trend__second {
      background-image: url(../img/trend2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .trend__third {
      background-image: url(../img/trend3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .trend__fourth {
      background-image: url(../img/trend4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .trend__cont {
      width: 22vw;
      min-height: 138px;
      border: 3px  solid rgba(175, 155, 90, 0.6);
      z-index: 20;
      box-sizing: border-box;
      padding-top: 38px;
      padding-left: 33px;
      padding-right: calc(5vw + 1.9px);
      padding-bottom: 32px;
    }
  
    .trend__tags {
      font-weight: bold;
      font-size: 14px;
      display: flex;
      text-transform: uppercase;
      list-style-type: none;
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
  
    .tags__links {
      text-decoration: none;
      color: #b59f5b;
      margin-right: 20px;
    }
  
    .tags__links:hover {
      border-bottom: 2px solid rgba(175, 155, 90, 0.6);
    }
  
    .trend__disc {
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
    }
  
    .trend__disc:hover {
      color: #b59f5b;
    }

    /*main aside*/
  .main__aside {
      display: flex;
      width: 1170px;
      margin: 64px auto 55px auto;
      padding-right: 15px;
      padding-left: 15px;
    }
    
    .main {
      width: 778px;
    }
    
    /*section discription*/
    .section__picture__link {
      width: 381px;
      flex-shrink: 0;
    }

    .section__picture {
      width: 381px;
    }
    
    .section {
      display: flex;
    }
    
    .section:nth-child(1n+2) {
      margin-top: 55px;
    }
    
    .section__discription {
      margin: 0 0 0 31px;
    }
    
    .section__tags {
      display: flex;
      list-style-type: none;
      margin-top: -5px;
      margin-bottom: 0;
    }
    
    .section__link {
      color: #b59f5b;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 20px;
      font-size: 14px;
    }

    .section__link:hover {
      border-bottom: 1px solid #b59f5b;
    }
    
    .section__title__link {
      text-decoration: none;
      color: #000;
    }
    
    .section__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 30px;
      margin-top: 5px;
      line-height: 24px;
    }

    .section__title:hover {
      color: #b59f5b;
    }
    
    .date__author {
      display: flex;
      font-size: 12px;
      font-family: inherit;
      margin-bottom: 45px;
    }
    
    .date {
      color: #888888;

    }
    
    .author {
      font-weight: bold;
      margin-left: 12px;
    }
    
    .discription {
      font-size: 15px;
      line-height: 22px;
    }
    
    /*pixel perfect*/
    .date__author__pixel {
      display: flex;
      font-size: 12px;
      margin-bottom: 42px;
    }
    
    .discription__pixel {
      font-size: 15px;
      line-height: 22px;
      word-spacing: 0.5px;
    }
    
    .discription__sec {
      font-size: 15px;
      margin-top: 10px;
    }
    
    .discription__pixel__sec {
      font-size: 15px;
      line-height: 21px;
      word-spacing: 3.9px;
    }
    
    .section__title__pix {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 25px;
      margin-top: 7px;
      line-height: 25px;
      word-spacing: 0.3px;
    }
    
    /*aside*/
    .aside {
      width: 272px;
      margin-left: 120px;
    }
    
    /*aside section*/
    .section__inner {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin-top: -4px;
      margin-left: 85px;
    }
    
    .section__inner:after {
      content: "";
      display: block;
      width: 66px;
      height: 3px;
      margin-top: 10px;
      margin-bottom: 28px;
      margin-left: 20px;
      background-color: #e1d9bd;
    }
    
    /*article*/
    .article {
      display: flex;
      margin-bottom: 17px;
    }
    
    .article__img {
      width: 70px;
    }
    
    .article__discription {
      margin-left: 19px;
      margin-top: -7px;
    }
    
    .article__date {
      font-size: 12px;
      color: #888888;
    }
    
    .article__titles {
      line-height: 17px;
      word-spacing: 0.5px;
    }
    
    .article__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      color: black;
      text-decoration: none;
    }
    
    .article__title:hover {
      color: #b59f5b;
    }
    
    /* form search*/
    .form-row {
      position: relative;
      box-sizing: border-box;
      margin-top: 55px;
      margin-bottom: 56px;
      width: 100%;
    }
    
    .field {
      box-sizing: border-box;
      width: 100%;
      height: 49px;
      background-color: #f4f7f6;
      font-size: 13px;
      border: none;
      padding-left: 19px;
      outline: none;
    }
    
    .field:focus {
      outline: 1px solid #b59f5b;
      outline-offset: -1px;
    }
    
    .button__search {
      position: absolute;
      top: 0;
      right: 0;
      width: 49px;
      height: 49px;
      border: none;
      cursor: pointer;
      background: #b59f5b;
      background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 18px 18px;
    }
    
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    
    .button__search:hover {
      background: #323232;
      background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 18px 18px;
    }
    
    .button__search:focus {
      outline: 1px solid #323232;
    }
    
    /*mailing*/
    .form-email {
      box-sizing: border-box;
      margin-bottom: 55px;
    }
    
    .mail__tags__themes__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }
    
    .mail__tags__themes__title:after {
      content: "";
      display: block;
      width: 66px;
      background-color:#e1d9bd;
      height: 3px;
      margin-top: 10px;
      margin-bottom: 28px;
      margin-left: auto;
      margin-right: auto;
      }
    
    .button__subs {
      width: 100%;
      height: 49px;
      margin-top: 15px;
      border: none;
      cursor: pointer;
      background: #b59f5b;
      }
    
    .button__subs::before {
      content: "Подписаться";
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
    }
    
    .button__subs:hover {
      background: #323232;
    }
    
    .button__subs:focus {
      outline: 1px solid #323232;
    }
    
    /*tags*/
    .tags {
      margin-bottom: 50px;
    }
    
    .tags__list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
    }
    
    .tags__link {
      display: block;
      text-decoration: none;
      border: 2px solid lightgrey;
      padding: 4px 14px;
      margin-right: 7px;
      margin-bottom: 7px;
      color: #0f0d0e;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
    
    .tags__link:hover {
      border: 2px solid #b59f5b;
      color: #000;
    }
    
    /*themes*/
    .themes__list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin-top: -4px;
    }
    
    .themes__link {
      display: block;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid lightgrey;
      font-size: 14px;
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
    
    .themes__link:hover {
      color: #b59f5b;
    }
    
    .themes__sup {
      color: #b59f5b;
      padding-left: 3px;
    }
  
  /*products*/
  .products {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .products__title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  
  .products__title::after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: rgba(225, 217, 189, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    margin-top: 10px;
  }
  
  .products__card {
    display: flex;
    justify-content: space-between;
  }
  
  .product__cont {
    width: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .pic__product {
    margin-bottom: -31px;
  }
  
  .product__desc {
    box-sizing: border-box;
    border: 2px solid rgba(181, 159, 91, 0.6);
    padding-bottom: 28px;
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 1;
  }
  
  .product__title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .product__spec {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .spec__link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .spec__link:hover {
    text-decoration: underline;
  }
  
  .prices {
    font-weight: bold;
  }
  
  .old__price {
    font-size: 14px;
    text-decoration: line-through;
  }
  
  .new__price {
    font-size: 20px;
  }
  
  .price__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button__buy {
    width: 140px;
    height: 49px;
    background-color: #b59f5b;
    border: none;
  }
  
  .button__buy::before {
    content: "в магазин";
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .button__buy:hover {
    background-color: #323232;
  }
  
  /*footer*/
  .footer {
    width: 1170px;
    margin: 59px auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .footer__social {
    background: #f4f7f6;
    height: 79px;
    margin-bottom: 75px;
  }
  
  .social__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .social__img {
    width: 18px;
    height: 18px;
  }
  
  .social__img:nth-child(2) {
    margin: 0 30px;
  }
  
  .footer__img__one {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__img__two {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__img__three {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .footer__copyright_cont {
    width: 1170px;
  }
  
  .footer__copyright {
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

/* popup */
.popup__hidden {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 100;
  /* display: none; */
}

.popup__hidden::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.popup__container {
  margin: 238px auto 0px auto;
  width: 390px;
  height: 589px;
  padding: 30px;
  background-color: #fff;
  z-index: 200;
  position: relative;
}

.popup__title {
  text-transform: uppercase;
  counter-reset: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 54px;
}

.popup__name {
  font-size: 13px;
  margin-bottom: 10px;
}

.popup__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: rgba(181, 159, 91, 0.4);
  margin: 10px auto 29px auto;
}

.popup__quiz__cont {
  position: relative;
  width: 100%;
  margin-bottom: 33px;
}

.popup__quiz__cont::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 20px;
  background-image: url("../svg/form-arrows.svg");
  background-position: center center;
  background-repeat: no-repeate;
  background-size: 10px 20px;
  background-color: transparent;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
}

.popup__quiz {
  width: 100%;
  height: 47px;
  border: none;
  background: #f4f7f6;
  font-size: 13px;
  appearance: none;
  outline: none;
  padding-left: 19px;
  padding-right: 19px;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #a2a4a3;
}

.popup__quiz:focus, .textarea__cont:focus {
  outline: 1px solid #b59f5b;
}

/* радио кнопки */
.popup__email {
  width: 100%;
  margin-bottom: 32px;
}

.radio__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.radio__label {
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}

.radio__label::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(../svg/form-empty-circle.svg);
  background-size: 19px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
}

.radio__label::after {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(../svg/form-circle.svg);
  background-size: 19px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}

.radio__input:checked + .radio__label::after {
  opacity: 1;
}

.radio__input:checked + .radio__label::before {
  opacity: 0;
}

/* отзыв textarea */
.textarea__cont {
  resize: none;
  width: 390px;
  height: 131px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #f4f7f6;
  padding: 21px;
  box-sizing: border-box;
  color: #a2a4a3;
  margin-bottom: 27px;
}

/* кнопка отправки формы */
.button__submit {
  width: 100%;
  height: 49px;
  border: none;
  cursor: pointer;
  background: #b59f5b;
  }

.button__submit::before {
  content: "отправить";
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.button__submit:hover {
  background: #323232;
}

.popup__close {
  font-size: 20px;
  position: absolute;
  top: -1.5em;
  right: 0;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.popup__close::before {
  width: 1.4em;
  height: 0.2em;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close::after {
  width: 1.4em;
  height: 0.2em;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close::before, .popup__close::after {
  content: "";
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}